
<nav class="cabecalho"> 
        <%= link_to root_path do %>
            <%= image_tag asset_path('logoaxo.png'), class:'cabecalho-logo'%>
        <% end %>
        <nav class="cabecalho-menu">
        <% if user_signed_in? %>
                <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:"btn btn-outline-danger" %> 
            <% else %>
                <%= button_to 'Login', new_user_session_path, method: :get, class:'btn btn-danger' %>
                <%= link_to 'Registre-se', new_user_registration_path, method: :get, class: 'btn btn-primary'  %>
            <% end %>
        </nav>
</nav>
