<header class="nu-cabecalho">
  <%= link_to root_path do %>
    <%= image_tag asset_path('logoaxo.png'), class:'nu-cabecalho-logo'%>
  <% end %>
</header>
<div class="nu">
  <div class="nu-conteudo">
    <div class="nu-conteudo-view">
      <h2 class="nu-titulo">Crie seu perfil</h2>
      <%= form_with model: @user do |f| %>
        <div class="field">
          <%= f.label :"Digite o seu nome"%>
          <div class="nu-input-name">
            <i class="fa-solid fa-pencil"></i>
            <%= f.text_field :name, required:'true', maxLength:'30', placeholder:'Ex: Gabriella Romano'%>
          </div>
        </div>
        <div class="field">
          <%= f.label :"Idade"%>
          <div class="nu-input-age">
            <%= f.number_field :age, required:'true', placeholder:'Ex: 17', id:'rangenumber', min:'1', max:'40'%>
          </div>
        </div>
        <script>
          document.querySelector("#rangenumber").addEventListener("input", el => {
          if (el.target.value > parseInt(el.target.getAttribute("max"))) {
          el.target.value = el.target.getAttribute("max");
          }

          if (el.target.value <= parseInt(el.target.getAttribute("min"))) {
          el.target.value = 1;
          }
                })
        </script>
        <div class="field">
          <%= f.label :"Biografia (limite de 264 caracteres)"%>
          <div class="nu-input-bio">
            <%= f.text_area :biografia, maxLength:'264', cols:'42', rows:'5' %>
          </div>
        </div>
        <div class="field">
          <%= f.label :"Foto de perfil" %><br />
          <div class="registration-view-input">
            <%= f.file_field :profile_picture %>
          </div>
        </div>
      </div>
      <div class="nu-botao">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
<div class="popup">
  <div class="popup-container">
    <h1 class="popup-titulo"> Já está acabando ❤</h1>
    <p> Coloque suas informações no perfil para que outros alunos te encontrem.</p>
 <br/>
    <p class="popup-obs"> Obs: Você poderá mudar isso mais tarde.</p>
    <button class="close-popup" onclick="popupClose()">Entendi!</button>
  </div>
</div>
<script>
  popupClose = function() {
    document.querySelector(".popup").classList.add("closed");
  }
</script>
