<div class="nu">
  <div class="nu-conteudo">
    <div class="nu-conteudo-view">
      <h2 class="nu-titulo">Crie seu perfil</h2>

      <%= form_with model: @user do |f| %>

      <div class="field">
        <%= f.label :"Digite o seu nome"%> 
        <div class="nu-input">
          <i class="fa-solid fa-envelope"></i>
          <%= f.text_field :name, required:'true'%>
        </div>
      </div>

      <div class="field">
        <%= f.label :"Biografia"%>
        <div class="nu-input">
          <i class="fa-solid fa-envelope"></i>
          <%= f.text_field :biografia, required:'true'%>
        </div>
      </div>
     
      <div class="field">
        <%= f.label :"Idade"%>
        <div class="nu-input">
          <i class="fa-solid fa-envelope"></i>
          <%= f.number_field :age, id:'nu-age', required:'true'%>
        </div>
      </div>
      

      <div class="nu-botao">
            <%= f.submit %>
      </div>
 
      <%end%>
    </div>

    <div class="nu-imagem">
      <%= form_with model: @user do |f| %>
      <%= f.label :"Fotoooo"%>
      <%= f.file_field :profile_picture, required:'true'%>
      <%end%>
    </div>
  </div>
</div>
