<% if user_signed_in? %>
        <div class="actiom">
            <div class="profile-settings" onclick="menuToggle();">
                <%= image_tag current_user.profile_picture %>
            </div>

            <div class="menu-perfil">
               <h3 class="menu-perfil-titulo"> <%= current_user.name %> </h3>
                <ul>
                    <li><i class="fa-solid fa-user"></i> <a href="/profile"> Meu Perfil</a></li>
                    <li><i class="fa-solid fa-user-pen"></i> <%= link_to "Editar usuário", edit_user_registration_path %></li>
                    <li><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> <a href="#">Configurações</a></li>
                    <li><i class="fa-solid fa-circle-question"></i> <a href="#">Ajude-me</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i> <%= button_to "Sair", destroy_user_session_path, method: :delete, class:'botao-sair' %></li>
                </ul>
            </div>
        </div>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu-perfil')
                toggleMenu.classList.toggle('active')
            }
        </script>

    <div class="container">
			<div class="side">
				<div class="header">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/64.jpg" alt="" />
					</div>
					<div class="title">Meu perfil</div>
				</div>
				<div class="menu">
					<ul>
						<li>Matches</li>
						<li class="active">Mensagens</li>
					</ul>
				</div>
				<div class="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
					</div>
					<div class="message">
						<div class="user">Caroline</div>
						<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
					</div>
				</div>
				<div class="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
					</div>
					<div class="message">
						<div class="user">Caroline</div>
						<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
					</div>
				</div>
				<div class="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/40.jpg" alt="" />
					</div>
					<div class="message">
						<div class="user">Caroline</div>
						<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
					</div>
				</div>
				<div class="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/41.jpg" alt="" />
					</div>
					<div class="message">
						<div class="user">Caroline</div>
						<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
					</div>
				</div>
				<div class="messages">
					<div class="avatar">
						<img src="https://randomuser.me/api/portraits/women/42.jpg" alt="" />
					</div>
					<div class="message">
						<div class="user">Caroline</div>
						<div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="card">
					<div class="user">
						<img
							class="user"
							src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
							alt=""
						/>
						<div class="profile">
							<div class="name">Rafaela <span>20</span></div>
							<div class="local">
								<i class="fas fa-map-marker-alt"></i>
								<span>a 20 quilômetros daqui</span>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="no">
						<i class="fas fa-times"></i>
					</div>
					<div class="star">
						<i class="fas fa-star fa"></i>
					</div>
					<div class="heart">
						<i class="fas fa-heart"></i>
					</div>
				</div>
			</div>
		</div>


<% else %>

<div class="home">
<header class="cabecalho"> 

        <%= link_to root_path do %>
            <%= image_tag asset_path('logoaxo.png'), class:'cabecalho-logo'%>
        <% end %>
        <nav class="cabecalho-menu">
            <%= button_to 'Login', new_user_session_path, method: :get, class:'cabecalho-menu-botao-login' %>
            <%= button_to 'Registre-se', new_user_registration_path, method: :get, class: 'cabecalho-menu-botao-criar'  %>
        </nav>
</header>
     <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo"> Axo </h1>
                <h2 class="conteudo-principal-escrito-subtitulo"> Um site para interação social entre alunos da etec.</h2>
                 <%= button_to 'Acesse aqui', new_user_session_path, method: :get, class:'conteudo-principal-escrito-botao' %>
            </div>
            <%= image_tag asset_path('axohome.png'), class:'conteudo-principal-imagem'%>
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo"> <strong>O que é o axo?</strong> </h3>
            <p class="conteudo-secundario-paragrafo"> 1 - A primeira criação da axoverse, com o intuito de ajudar na socialização de alunos da etec. </p>
            <p class="conteudo-secundario-paragrafo"> 2 - Com uma interface intuitiva, o usuário pode encontrar facilmente outros alunos com os mesmos gostos. </p>
            <p class="conteudo-secundario-paragrafo"> 3 - O site conta com um sistema de chat quando ambos os alunos se interessam um no outro.</p>
        </section>
    </main>

    <footer class="rodape">
      <p class="rodape-titulo"> Axoverse </p>
    </footer>
</div>
<% end %>

