<div class="loginview">

<h2 class="loginview-titulo"><%= t('.sign_in')%></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %> <br/>
      <div class="loginview-input">
        <i class="fa-solid fa-envelope"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Exemplo@exemplo.com" %>
      </div>
  </div>

  <div class="field">
    <%= f.label :password %><br />
      <div class="loginview-input">
        <i class="fa-solid fa-lock"></i>
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
      </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="loginview-botao">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
