<%= stylesheet_link_tag "chat.css", :media => "all" %>
<style>
  <%= ".msg-#{current_user&.id}" %> {
    background-color: rgb(143, 209, 117);
    align-self: flex-end;
    color: white !important;
  }
</style>
</div>
<div class="chats-container d-flex p-3">
  <div class="users-list me-4">
    <% @rooms.each do |room| %>
      <%= button_to room_path(room), method: :get, class: "btn btn-danger" do %>
        <h3>
          <%= contact_info(room).name %>
        </h3>
      <% end %>
    <% end %>
  </div>
  <div class="chat-area bg-white">
    <% if @messages %>
      <%= render 'messages/messages', messages: @messages %>
    <% end %>
  </div>
</div>
